
.App-header {
    background-color: #cff1f9;
  }
  


/* For my general html elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1 {
  font-size: 2em;
  color: #333;
}

h2 {
  font-size: 1.5em;
  color: #666;
}

p {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background: #333;
  padding: 10px;
}

button {
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

/* For my main app */

.App-main {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Main {
  text-align: center;
}

/* For my top nav */
.nav-bar a {
  float: left;
  display: block;
  color: #bdbaba;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar a:hover {
  background-color: #b3a4a4a7;
  color: black;
}


/* For my form-group */
.form-group {
    margin-bottom: 5px; 
    display: flex;
    flex-direction: column;
    
}

.form-group label {
    margin-bottom: 5px; 
}

.form-control {
    width: 10%; 
    padding: 5px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.text-danger {
    font-size: 14px; 
    color: red; 
    margin-top: 4px; 
}


/* For the project page */ 
.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card .details {
  padding: 0.5rem;
}

.card .details strong {
  font-family: serif;
  font-size: 1rem;
}

.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.emoji-button.favorite {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}

.emoji-button.delete:hover {
  text-shadow: 0 0 0 firebrick;
  cursor: pointer;
}